* {
		color-scheme: light;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
		padding: 1em;
	}

.buttons {

  color: white;
  text-shadow: 0 0 0.2em #000;
  background-image: linear-gradient( red, yellow, green, blue, purple); 
  background-position:right top;
  float: center;
  height: 20em;
  aspect-ratio: 1/0.5;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 1em;
  background-size: 200%;
  animation:regenboog 2s infinite linear paused;

  &:hover {
		box-shadow: 0 1em 0 #000;
		translate: 0% -5%;
        animation-play-state:running;
	}
&:focus-visible {
		box-shadow: 0 10px 0 var(--zwart);
		translate: 0% -15%;
		outline: var(--zwart);
	}

    &:active {
		background-color: var(--roze);
		box-shadow: 0 0 0;
		translate: 0% 5%;
	}
}
